<%- include("../header.ejs") %>
	<h1>Каталог</h1>
	<a href="/">Главная</a><br>
	<hr>
	<% sections.forEach( function(elem, i) {%>
		<a href="/catalog/<%=elem.code%>"><%=elem.name%></a><br>
	<%});%>
<%- include("../footer.ejs") %>