<%- include("../header.ejs") %>
	<h1>Каталог</h1>
	<a href="/">Главная</a><br>
	<hr>
	<div class="grid">
		<% for(var i=0; i < data.length; i++) { %>
		<pre><%=data[i]%></pre>
		<% } %>
	</div>
	<style>
		.grid {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}
	</style>
<%- include("../footer.ejs") %>