<%- include("../header.ejs") %>
	<h1>О нас</h1>
	<a href="/">Главная</a>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus cupiditate soluta reprehenderit suscipit exercitationem voluptatum, mollitia ipsa sint libero quod repellendus voluptates laudantium quibusdam tenetur tempore voluptatem sed non fugiat culpa velit sit quo deleniti iusto. Dolores porro assumenda eos neque quidem fugiat, eveniet ducimus facere sapiente asperiores est sequi!</p>
<%- include("../footer.ejs") %>